@import '../../../style/variables';
@import '../../../style/main';

.wrap-scroll {
  composes: body-scroll;
}

.ul-screen {
  composes: panel;
}

.search-screen {
  composes: panel;
  padding-bottom: 20px;
  position: fixed;
  margin-left: -20px;
}
