@import '../../../style/variables';
@import '../../../style/main';

.wrap-scroll {
  overflow-y: scroll;
  height: $body-height;
}

.ul-screen {
  composes: panel;
}

.search-screen {
  composes: panel;
}