@import '../../../style/main';

.input {
  margin-top: 13px
}

.input-age {
  width: 137px;
}

.input-region {
  width: 290px;
}

.label {
 composes: label-default;
}

.input-row {
  padding-top: 3px;
}

.row {
  composes: row;
}

.search-screen {
  composes: panel;
  padding-bottom: 10px;
  padding-top: 0;
  position: fixed;
}
