@import '../../../style/main';

.input {
  margin-top: 13px
}

.input-age {
  width: 110px;
}

.input-region {
  width: 250px;
}

.label {
 composes: label-default;
}

.input-row {
  padding: 3px 0 8px 0;
}

.row {
  composes: row;
}

