@import '../../style/variables';

.wrap-loader {
  width: 100%;
  line-height: $body-height;
  text-align: center;
}

.icon {
  animation: rotate linear 1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn)
  }
}