@import '../../style/main';

.wrap-icon {
  line-height: 3.0rem;
  position: absolute;
  margin: 0 12px;
  right: 0;
}

.hover-show-info:hover+.window-info {
  visibility: visible;
  transition-delay: 0s;
  transform: translateY(0px);
}

.window-info {
  visibility: hidden;
  transition: ease-out 0.4s;
  transform: translateY(-50px);

  z-index: -1;
  position: absolute;
  right: 6px;
  padding: 0 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: #507299;
  color: white;
  line-height: 36px;
  width: 300px;
  font-size: 13px;
  border: 2px solid #314963;
}