.button {
  width: 100%;
  margin-top: 20px;
  padding: 7px 16px 8px;
  color: #fff;
  background-color: #5e81a8;
  border-radius: 2px;
  box-sizing: border-box;
  border: 0;
  font-size: 13px;
  cursor: pointer;
}

.button:hover {
  background-color: #6a8eb1;
}

.button:active {
  background-color: #5c7ca2;
}

.button:active, .button:focus {
  outline: none;
}