@import '../../style/main';

.ul-groups {
  composes: ul-default;
}

.group-item {
  composes: li-default;
}

.group-photo {
  border-radius: 50%;
}

.group-text {
  composes: text-default;
}

.group-title {
  composes: text-title;
}

.mark-circle {
  position: absolute;
  right: 6px;
  bottom: 8px;
}

.header-list-groups-text {
  composes: label-default;
  padding: 8px 0;
  margin: 0;
  text-align: center;
  min-height: 50px;
  line-height: 50px;
}

.header-list-groups {
  composes: header-list-groups-text;
  line-height: inherit;
}
