@import '../../style/main';

.ul-groups {
  composes: ul-default;
}

.group-item {
  composes: li-default;
}

.group-photo {
  border-radius: 50%;
}

.group-text {
  composes: text-default;
}

.group-title {
  composes: text-title;
}

.mark-circle {
  position: absolute;
  right: 6px;
  bottom: 8px;
}
