.checkbox {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 6px;
}

.label {
  padding-left: 4px;
  font-size: 13px;
  margin: 0;
  line-height: 13px;
  padding-top: 1px;
}
