.navbar {
 background-color: #507299;
 height: 3.2rem;
 padding: 0 1.5rem 0 1.5rem;
}

.nav-item {
 height: 3.2rem;
 padding-top: 0.4rem;
}

.nav-item-active {
 composes: nav-item;
 background-color: #314963;
}