@import '../../../../style/main';

.wrap-input {
  position: relative;
}

.inner-wrap-input {
  position: relative;
}

.input{
  composes: input from '../forms.scss';
  line-height: 17px;
  padding: 7px 34px 10px 11px;
  min-height: 36px;
  height: auto;
  max-height: 120px;
  border-radius: 3px;
  resize: none;
}

.clear-btn {
  font-size: 18px;
  color: #a59999;
  cursor: pointer;
  width: 28px;
  line-height: 25px;
  position: absolute;
  right: 20px;
  top: 0;
}

.clear-btn:hover {
  color: #D2021B;
}

.scroll {
  composes: default-scroll;
  overflow-y: auto;
}
