@import '../../style/main';

.ul-users {
  composes: ul-default;
}

.user-item {
  composes: li-default;
  height: auto;
}

.user-photo {
  border-radius: 15%;
}

.user-text {
  composes: text-default;
}

.user-title {
  composes: text-title;
}

.wrap-button-save {
  border-bottom: 1px #a5a5a5 solid;
  padding-bottom: 8px;
}

.button-save {
  width: 50%;
  margin: 0 auto;
  display: block;
}