@import '../../style/main';

.ul-users {
  composes: ul-default;
}

.user-item {
  composes: li-default;
  height: auto;
}

.user-photo {
  border-radius: 15%;
}

.user-text {
  composes: text-default;
}

.user-title {
  composes: text-title;
}

.ul-header-left-right {
  border-top: 6px #507299 solid;
  width: 30%;
}

.ul-header {
  width: 40%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: #507299;
  color: white;
}

.group-photo {
  border-radius: 50%;
}

.group-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.group-items-for-groups {
  composes: group-items;
  justify-content: center;
  padding: 2px 0 6px 0;
  border-bottom: 1px #a5a5a5 solid;
  margin: 0;
}

.group-item {
  margin: 0 2px;
}