@import '../../style/main';

.ul-users {
  composes: ul-default;
}

.user-item {
  composes: li-default
}

.user-photo {
  border-radius: 50%;
}

.user-text {
  composes: text-default;
}

.user-title {
  composes: text-title;
}

