.header-list {
  padding: 6px 0;
  margin: 0;
  text-align: center;
  min-height: 50px;
}

.group-photo {
  border-radius: 50%;
  cursor: pointer;
}

.group-item {
  display: inline-block;
  margin: 2px;
}