@import '../../../style/main';

.ul-groups {
  composes: ul-default;
  overflow-x: hidden;
}

.group-item {
  composes: li-default;
  transition: all 250ms linear 0s;
}

.group-item-active {
  border-top: 2px solid #314963 !important;
  border-bottom: 2px solid #314963 !important;;
  background-color: #e1efff;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 250ms linear 0s;
}

.group-item-active:hover {
  background-color: #e1efff;
}

.group-item-minimize {
  composes: group-item;
  padding: 7px 4px;
  height: 51px;
  line-height: 31px;
}

.group-item-minimize-active {
  composes: group-item-active;
  padding-top: 5px;
  padding-bottom: 5px;
}

.group-item-minimize-active:hover {
  background-color: #e1efff;
}

.group-photo {
  border-radius: 50%;
}

.group-photo-minimize {
  composes: group-photo;
  width: 36px;
  height: 36px;
}

.group-text {
  composes: text-default;
}

.group-title {
  composes: text-title;
}

.mark-circle {
  position: absolute;
  right: 6px;
  bottom: 8px;
}

.header-list-groups-text {
  composes: label-default;
  padding: 8px 0;
  margin: 0;
  text-align: center;
  min-height: 50px;
  line-height: 50px;
}

.header-list-groups {
  composes: header-list-groups-text;
  line-height: inherit;
}

.ul-screen {
  composes: panel;
  padding-top: 0;
  transition: all 300ms linear 0s;
}

.ul-screen-minimize {
  composes: ul-screen;
  padding: 0 8px 8px 8px;
}