.table {
  width: 180px;
  color: white;
  background-color: #507299;
  margin: 0 auto 9px auto;
  font-size: 13px;
}

.table tr {
  border-bottom: white 2px solid;
}

.table td {
  padding: 2px 4px;
}