@import '../../style/main';

.ul-screen {
  composes: panel;
  padding-top: 0;
}

.ul-groups {
  composes: ul-default;
}

.ul-groups-item {
  composes: ul-default;
  border: #507299 3px solid;
  border-top: none;
  background-color: #edeef0;
  margin: 12px 0;
  position: relative;
}

.wrap-scroll {
  composes: body-scroll;
}

.text {
  composes: text-title;
  composes: panel;
  text-align: center;
  border: none;
  width: 100%;
}

.mark-circle {
  position: absolute;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
}

.delete-icon {
  composes: mark-circle;
  top: 12px;
  bottom: 0;
  color: #314963;
}

.delete-icon:hover {
  color: #861b18;
}

